.wrap{
    max-width: 1280px;
    margin: 0 auto;
    .navbar{
        height: 56px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #000;
        a{
            text-decoration: none;
            width: 20%;
            margin-right: 50%;
            text-align: center;
            h1{
                color:red;
                font-size: $font-s;
                font-family: $font-family-base;
            }
        }
        .menu{
            display: flex;
            width: 30%;
            li{
                width: 33%;
                a{
                    color:white;
                    padding: 5px 10px;
                    display: block;
                }
            }
        }
    }



}